body{
    background-color:rgb(248, 248, 248);
    color: black;
    font-family: ;
    margin: 0px;
    padding: 0px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px 15px;
    background-color: #777b7f;
    height: 180px;
    color: white;
    position: relative;
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
    gap: 60px;
}

.right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.ig-box{
    padding: 15px 7px;
    font-weight: bold;
    text-align: right;
    color: white;
    position: absolute;
    top: 7px;
    right: 15px;
}

.content-area{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
    margin: 50px auto;
    gap: 40px;
}

main{
    flex: 1;
}

nav{
    width: auto;
    text-align: right;
    position: relative;
    margin-top: 60px;
}

nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li{
    margin: 10px 0;
}

nav a{
    color: white;
    font-size: 14px;
    text-decoration: none;
    padding: 0px 7px;
    display: block;
    text-align: right;
    transition: all 0.3s;
}

nav a:hover{
    background-color: aliceblue;
    color: black;
}

section{
    margin: 5px 80px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid;
    padding: 25px 0;
}
section:last-child{
    border-bottom: none;
}


.picture1 img{
    width: 210px;
    height: auto;
}

.name{
    position: relative;
    top: 130px;
    right: 10px;
}

.title{
    writing-mode: vertical-rl;
    text-orientation: upright;
    color: rgb(15, 135, 191);
}

.aboutme{
    width: 800px;
}

.skill-column {
    padding-right: 160px;
    margin: 0;
    border-right: 1px solid black; 
   
}

.skill-column:last-child {
    border-right: none; 
}

ol{
    color: #777b7f;
    font-size: large;
    align-self: flex-start;
}

.tit{
    margin-top: 0;
    margin-bottom: 5px;
}

.pic {
  width: 400px; 
  padding: 10px;
}

.r {
  display: flex;
  align-items: self-start;
}

.picture2 {
  width: 100%;
  margin-bottom: 0; 
}

.row {
  display: flex;
  
}

.row img {
  width: 50%;  
  height: auto;
}
.exp-text{
    color: #777b7f;
    width: 800px;

}
.exp-text1{
    width: 100%;
}

.exp-text2{
    width: 800px;
    display: flex;
    gap: 5px;
}
.exp-text2 img{
    width: 200px;
    height: auto;
}

footer{
    background-color: #777b7f;
    text-align: center;
    color: white;
    padding: 30px;
}

.top-btn{
    color: #777b7f;
    text-decoration: none;
    border: 1px solid #777b7f;
    background-color: white;
    width: 30px;
    height: 30px;
    position: fixed;
    bottom: 10px;
    right: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}